# Common application settings
PORT=3000
LOG_LEVEL=info
ARCJET_KEY=

# Development with Neon Local
NODE_ENV=development
DATABASE_URL=postgresql://neon:npg@neon-local:5432/aquisitions?sslmode=require
NEON_API_KEY=
NEON_PROJECT_ID=
PARENT_BRANCH_ID=

# Production with Neon Cloud
# NODE_ENV=production
# DATABASE_URL=postgresql://<user>:<password>@<project>.<region>.aws.neon.tech/<database>?sslmode=require&channel_binding=require